<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>OpenHennery webinterface</title>
    <link rel="stylesheet" href="../static/style.css/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="OpenHennery-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js'></script>
</head>
<body>

{% block content %}
{% endblock %}7
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ labels | safe }},
        datasets: [{
            label: 'main battery',
            data: {{ values | safe }},
            backgroundColor: "rgb(192,192,192)",
            borderColor: "rgb(75,192,192)",
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

</body>
</html>