{% extends 'base.html' %}

{% block content %}
      <h1 style="font-size:3vw;"><u>OpenHennery webinterface</u></h1>
      <h2 style="font-size:3vw;">Letzte Naricht : <font color="#4BC0C0">{{ time_received }}</font></h2>
      <h2 style="font-size:3vw;">Türe ist: <font color="#4BC0C0">{{ door_state }}</font></h2>
      <h2 style="font-size:3vw;">Zaun ist: <font color="#4BC0C0">{{ zaun_state }}</font></h2>
      <h2 style="font-size:3vw;">letze bat. Spannung: <font color="#4BC0C0">{{ bat_voltage }}V</font></h2>

      <canvas id="myChart"  height="100"></canvas>

{% endblock %}


